#Tratando Variaveis Categoricas em Datasets

First we have to import the lib resposible to encode the variables 

Remind delete the '#' to execute in your notebook

In [2]:
#!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 2.4MB/s
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.17.5)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.25.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

Certify that the scikit-learn is already install in your machine

In [1]:
#!pip install -U scikit-learn

Collecting scikit-learn
  Downloading https://files.pythonhosted.org/packages/e1/7f/366dcba1ba076a88a50bea732dbc033c0c5bbf7876010e6edc67948579d5/scikit_learn-0.22.2-cp36-cp36m-manylinux1_x86_64.whl (7.1MB)
     |████████████████████████████████| 7.1MB 2.8MB/s
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (0.14.1)
Requirement already satisfied, skipping upgrade: numpy>=1.11.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.17.5)
Requirement already satisfied, skipping upgrade: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn) (1.4.1)
Installing collected packages: scikit-learn
  Found existing installation: scikit-learn 0.22.1
    Uninstalling scikit-learn-0.22.1:
      Successfully uninstalled scikit-learn-0.22.1
Successfully installed scikit-learn-0.22.2

In most of our project we need import pandas and numpy. They have so many useful function's to process the data

In [0]:
import pandas as pd
import numpy as np

#from sklearn.enseble import RandomForestRegressor
from category_encoders.one_hot import OneHotEncoder

Here i am creating one python dict with some categorical information. 

Later is needed transpose the dict to make the data best formated

And for last i give the columns the names i wanted when i created the list names

In [26]:
friends = {'nilberth': ['male', 'cis', 'bi'], 'guilherme': ['male','cis', 'bi'], 'bernardo': ['male', 'trans', 'hetero'], 'fernando':['male', 'cis', 'hetero'], 'laura': ['female', 'trans', 'hetero'],'juliana': ['female', 'cis', 'hetero'],'tulio':['male','cis','gay'],'duda':['female','cis','gay']}
names = ['sex','gender orientation','genero']
friends = pd.DataFrame(data=friends)
df = friends.transpose()
df.columns = names

print(df)

              sex gender orientation  genero
nilberth     male                cis      bi
guilherme    male                cis      bi
bernardo     male              trans  hetero
fernando     male                cis  hetero
laura      female              trans  hetero
juliana    female                cis  hetero
tulio        male                cis     gay
duda       female                cis     gay

Now we use the library to create a instace and make the magic happen

In [29]:
enc = OneHotEncoder(cols=['sex','gender orientation','genero'])
enc.fit(df)

OneHotEncoder(cols=['sex', 'gender orientation', 'genero'],
              drop_invariant=False, handle_missing='value',
              handle_unknown='value', return_df=True, use_cat_names=False,
              verbose=0)

now we execute a method of the instance of our classe

In [30]:
enc.transform(df)

           sex_1  sex_2  gender orientation_1  ...  genero_1  genero_2  genero_3
nilberth       1      0                     1  ...         1         0         0
guilherme      1      0                     1  ...         1         0         0
bernardo       1      0                     0  ...         0         1         0
fernando       1      0                     1  ...         0         1         0
laura          0      1                     0  ...         0         1         0
juliana        0      1                     1  ...         0         1         0
tulio          1      0                     1  ...         0         0         1
duda           0      1                     1  ...         0         0         1

[8 rows x 7 columns]